<div class="h-screen flex flex-col items-center justify-center">
    <h1 class="self-auto text-3xl font-bold text-blue-500">TransApp</h1>
    <div class="absolute bottom-0 left-0 flex flex-col justify-center items-center w-full px-1" >
        <%= link_to "Sign In",
            new_user_session_path,
            class: "bg-blue-500 py-2  w-full text-center uppercase text-white" %>
        <%= link_to "Sign Up",
            new_user_registration_path,
            method: :get,
            class: "bg-transparent py-2 mt-1 w-full text-center uppercase" %>
    </div>
</div>
