<div class="w-full flex justify-between items-center text-white bg-blue-400 p-2">
  <i class="fa-solid fa-house"></i>
  <h2 class="uppercase">categories</h2>
  <%= link_to "", destroy_user_session_path, method: :delete, class: "fa-solid fa-right-from-bracket" %>
</div>