<div class="w-full">
  <% if notice.present? %>
    <p class="absolute bottom-0 left-0 py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render "header" %>

  <div class="w-full absolute bottom-0 left-0 py-3 px-5 bg-green-500">
    <%= link_to 'scan',
        new_category_path,
        class: "uppercase w-full p-3 border-solid border-2 border-light-white-500  text-white block font-medium flex  justify-center items-center" %>
  </div>

  <div id="categories" class="min-w-full">
    <%= render @categories %>
  </div>
</div>
