<div class="mx-auto md:w-2/3 w-full">
  <div class="w-full flex justify-between items-center text-white bg-blue-400 p-2">
    <i class=""></i>
    <h2 class="uppercase">add categories</h2>
    <%= link_to "Back", categories_path, class: "uppercase text-xs" %>
  </div>

  <%= render "form", category: @category, class: "mt-5" %>
</div>
